services:
  # 后端服务
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: japan-customs-backend
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./backend/storage:/app/storage  # 挂载文件存储目录
    environment:
      - API_V1_STR=/api/v1
      - SECRET_KEY=wwRfvTJQMOGRHELw5QmmSULPwVg5zBEeR9CbyfMTVeY
      - DATABASE_URL=mysql+pymysql://app:app123456@172.18.207.224:3306/demo?charset=utf8mb4
    networks:
      - japan-customs-network

  # 前端服务
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: japan-customs-frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - japan-customs-network

# 网络配置
networks:
  japan-customs-network:
    driver: bridge
    name: japan-customs-network
