version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: japan_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/storage:/app/storage
    environment:
      - DATABASE_URL=mysql+pymysql://app:app123456@172.18.207.224:3306/demo?charset=utf8mb4
      - SECRET_KEY=wwRfvTJQMOGRHELw5QmmSULPwVg5zBEeR9CbyfMTVeY
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=30
    restart: unless-stopped
